name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1

      - name: Install dependencies
        run: shards install

      - name: Run tests
        run: crystal spec --order=random --error-on-warnings

      - name: Build
        run: crystal build --release src/fast-http-server.cr

      - name: Check formatting
        run: crystal tool format --check
